:root {
  --brand-primary-color: #2196f3;
  --primary-alpha: rgba(33, 150, 243, 0.4);
  --brand-secondary-color: #000;
  --brand-tertiary-color: #fff;
  --text-primary-color: #212121;
  --text-light-color: #757575;
  --light-background-color: #e5e5e5;
  --dark-background-color: #2f303a;
  --brand-font: 'Raleway', sans-serif;
  --main-font: 'Roboto', sans-serif;
}
* {
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
body {
  font-family: var(--main-font), 'Times New Roman', Times, serif;
  color: var(--text-primary-color);
}
.logo {
  font-family: var(--brand-font);
  font-size: 26px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.brand-main-color {
  color: var(--brand-primary-color);
}
.brand-secondary-color {
  color: var(--brand-secondary-color);
}
.brand-tertiary-color {
  color: var(--brand-tertiary-color);
}
.nav-portfolio,
.contact-info {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-portfolio a {
  color: var(--text-primary-color);
}
.contact-info a {
  color: var(--text-light-color);
}
.buttons-portfolio,
.special-buttons-portfolio {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
}
.buttons-portfolio {
  background-color: var(--light-background-color);
}
.special-buttons-portfolio {
  background-color: var(--brand-primary-color);
  color: var(--brand-tertiary-color);
}
.description > h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.description > p {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-light-color);
}
footer {
  background-color: var(--dark-background-color);
}
.address,
.address a {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--brand-tertiary-color);
}
.address a {
  opacity: 0.6;
}
.highlight:hover,
.highlight:focus {
  text-decoration: underline var(--brand-primary-color);
}
.highlight-alt:hover,
.highlight-alt:focus {
  background-color: var(--primary-alpha);
}
